<!-- Search Section -->
<div id="search" class="search-container">
  <mat-card class="search-card">
    <mat-form-field appearance="fill">
      <mat-label>Search Movie by Name</mat-label>
      <input matInput placeholder="Enter movie name" [(ngModel)]="filters.keyword" (input)="showallinventory()">
    </mat-form-field>
  </mat-card>
</div>

<!-- Inventory Table -->
<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z4">

    <!-- Inventory Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Inventory Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Inventory Name Column -->
    <ng-container matColumnDef="inventoryName">
      <th mat-header-cell *matHeaderCellDef> Inventory Name </th>
      <td mat-cell *matCellDef="let element"> {{element.inventoryName}} </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="invQuantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.invQuantity}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="invPrice">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.invPrice | currency}} </td>
    </ng-container>

    <!-- Stock Status Column -->
    <ng-container matColumnDef="stockStatus">
      <th mat-header-cell *matHeaderCellDef> Buy Inventory </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.invQuantity > 0; else outOfStock">
          <button mat-raised-button color="accent" routerLink="/order/{{element.inventoryName}}">
            BUY
          </button>
        </ng-container>
        <ng-template #outOfStock>
          <button mat-button color="warn" disabled>
            OUT OF STOCK
          </button>
        </ng-template>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons>
  </mat-paginator>
</div>
<img src="../../assets/pexels-n-voitkevich-6214470.jpg" alt="Inventory Image" class="full-screen-image">