<!-- <form #loginForm="ngForm" (ngSubmit)="resetPassword()">
    <h2>Log In</h2>
  
    <mat-card>
      <mat-card-content>
        <div class="example-container">
          <mat-form-field>
            <mat-label>Enter your username</mat-label>
            <mat-icon matPrefix>person_outline</mat-icon>
            <input matInput placeholder="username" [(ngModel)]="user.username" name="username" required>
            <mat-error>
              Please provide a valid username
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="example-container">
          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input matInput type="password" placeholder="password" [(ngModel)]="user.password" name="password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>
        </div>
  
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
      </mat-card-content>
    </mat-card>
  </form>
   -->